<div class="library list-group">
  <h1 class="list-group-item active"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorites</h1>
  <% if @favorites %>
    <% @favorites.each do |favorite| %>
      <a href="<%= favorite.yelp_url%>" class="list-group-item" target="_blank"><%= favorite.name %></a>
    <% end %>
  <% end %>
</div>

<button class="favorite" type="button">Restaurant roulette with your favorites</button>

<form action="/searches" method="GET">
  <input type="submit" value="Click here to play restaurant roulette">
</form>


<div id="result">Restaurant Result</div> 
<% if @result %>
<div class="result">
  <a class="yelp_url name" href="<%= @result.mobile_url %>"><%= @result.name %></a>
  <p class="review_count"><%= @result.review_count %></p>
  <p class="rating"><%= @result.rating %></p>
  <p class="address"><%= @result.location.display_address %></p>
  <p class="phone"><%= @result.phone %>
  <p class="category"><%= @result.categories %></p>
</div>
<% end %>