<h1>Welcome!</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div>
<form action="/itinerary" method="post">
  <label>Name</label> 
  <input type="text" name="name" value="<%= @itinerary.name %>"
  <label>Start Date</label> 
  <input type="date" name="start_date" value="<%= @itinerary.start_date %>"
  <label>End Date</label> 
  <input type="date" name="end_date" value="<%= @itinerary.end_date %>"
  <label>Location</label> 
  <input type="text" name="location" value="<%= @itinerary.location %>"
  <label>Description</label> 
  <input type="text" name="description" value="<%= @itinerary.description %>">
  <input type="submit" value="Create New Event">
</form>
</div>

<div>
<form action='/invite' method="post"
  <label>Email</label>
  <input type="text" name="user">  
  <input type="text" name="user">  
  <input type="text" name="user">  
  <input type="text" name="user">  
  <input type="submit" value="Invite Friends">
</form>
</div>

